doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/combo.min.css')
  body
    block content
    script(src='../js/utils/jquery.min.js')
    script(src='../js/utils/angular.min.js')
    block js