extends layouts/default

block content
  div(ng-app='', ng-controller='personController')
    | First Name:
    input(type='text', ng-model='firstName')
    br
    | Last Name:
    input(type='text', ng-model='lastName')
    br
    br
    | Full Name: {{firstName + &quot; &quot; + lastName}}

block js
  script.
    function personController($scope) {
      $scope.firstName = "John";
      $scope.lastName = "Doe";
    }