extends layouts/default

block content
  div(ng-app='', ng-controller='itemController')
    ul
      li(ng-repeat='item in items') {{item.name}} - {{item.price}}

block js
  script.
    function itemController($scope,$http) {
    $http.get('../data/items.json').
      success(function(data, status, headers, config) {
        $scope.items = data.items;
        console.log(data);
      }).
      error(function(data, status, headers, config) {
        // log error
      });
    };