extends layouts/default

block content
	div(ng-controller='appController')
		h2 {{intro}}
		a(ui-sref='home') Home
		a(ui-sref='view1', style='margin-left:5px;') View 1
		a(ui-sref='view2', style='margin-left:5px;') View 2
		#main-content(ui-view)

block js
	script(src='/js/combo.js')