body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 960px;
  margin: 0px auto;
}
.item-section,
.cart-section {
  margin: 20px 0;
}
.title-box {
  width: 100%;
  background: #dedede;
  float: left;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.title-box .title-name {
  text-align: left;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  width: 80%;
}
.title-box .section-toggle {
  float: left;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #ababab;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.title-box .section-toggle.disabled {
  cursor: not-allowed;
}
table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}
table tr td:first-child {
  width: 40%;
}
table tr td:last-child {
  width: 20%;
}
table tr:nth-child(even) {
  background: #eaeaea;
}
table tr:nth-child(odd) {
  background: #fff;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr.confirm-box {
  font-weight: bold;
  background: #fff !important;
}
.button {
  background: #35a05f;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.button.remove {
  background: #ababab;
}
.button.checkout {
  background: #07c5ff;
}
.button.disabled {
  cursor: not-allowed;
}
.confirm-section {
  position: fixed;
  font-size: 12px;
  top: 10%;
  width: 400px;
  left: 50%;
  z-index: 2;
  margin-left: -200px;
  border-radius: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 0 10px 5px #dedede;
}
.confirm-section .alert {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
.confirm-section h2 {
  text-align: center;
  margin: 5px 0 10px 0;
}
.confirm-section fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 10px;
}
.confirm-section fieldset span {
  float: left;
  display: inline-block;
  margin: 5px 0;
}
.confirm-section fieldset input {
  width: 330px;
  float: right;
}
.confirm-background {
  position: fixed;
  background: white;
  opacity: 0.75;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  right: 0;
}
.btn {
  border: 1px solid;
  color: #8d8d8d;
  background: #fff;
  display: inline-block;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.btn-qty {
  border: 1px solid;
  color: #8d8d8d;
  background: #fff;
  display: inline-block;
  padding: 3px 6px;
  text-align: center;
  margin: 0 10px;
  min-width: 30px;
}
