body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 960px;
  margin: 0px auto;
}

a {
  color: #00B7FF;
}

.item-section, .cart-section {
  margin: 20px 0;
}

.title-box {
  width: 100%;
  background: #dedede;
  float: left;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  .title-name {
    text-align: left;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
  }
  .section-toggle {
    float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #ababab;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    &.disabled {
      cursor: not-allowed;
    }
  }
}

table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
  tr {
    td {
      border-bottom: 1px solid #ccc;
      padding: 10px 5px;
      &:first-child {
        width: 50%;
      }
      &:last-child {
        width: 20%;
      }
    }
    &:nth-child(odd) {
      background: #eaeaea;
    }
    &:nth-child(even) {
      background: #fff;
    }
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

.button {
  background: #35a05f;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  &.remove {
    background: #ababab;
  }
}
