body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 960px;
  margin: 0px auto;
}

a {
  color: #00B7FF;
}

.title-box {
  width: 100%;
  .title-name {
    text-align: left;
    float: left;
    width: 80%;
  }
  .section-toggle {
    float: left;
    width: 20%;
  }
}

table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0
}
